body {
  font-family: sans-serif;
}

h1 {
  font-size: 6em;
  text-align: center;
}

nav {
  font-size: 1.5em;
  display: flex;
  justify-content: space-evenly;
}
ul {
  flex-grow: 1;
  max-width: 50%;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

ul,
li {
  display: inline;
  margin: 0;
  padding: 0;
  display: flex;
}

@media (max-width: 672px) {
  h1 {
    font-size: 4em;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 454px) {
  h1 {
    font-size: 3em;
  }
}
