body {
  background-color: thistle;
}

h1,
h2 {
  color: rgb(4, 58, 77);
}

button {
  background-color: yellowgreen;
}

#signup {
  background-color: rgb(26, 36, 6);
  color: antiquewhite;
}

span {
  color: #bc6c25;
}

.tag {
  background-color: tomato;
  color: antiquewhite;
  font-size: 16px;
}

.posted a {
  color: #bc6c25;
}

footer a {
  color: red;
}

footer a:hover {
  color: blue;
}

footer a:active {
  color: black;
}

button {
  background-color: yellowgreen;
}

input[type="password"] {
  color: royalblue;
}
